/* global variables */
:root {
    --color-one-: #272A31;
    --color-two-: #Ec5242;
    --color-Three-: #d3d3d3;
    --coco-font-:'COCOGOOSE', sans-serif;
    --lato-font-:'Lato', sans-serif;
}
/* global variables */
